.theme-light {
    $text-color: #000;
    $icon-color: #000;

    .msg-wrap-background {
        background-color: #fff;
    }

    .comment-wrap-background {
        background-color: #f7f7f7;
    }

    .comment-icon {
        color: $icon-color;


    }

    .comment-extend-icon {
        background-color: #fff;
        color: $icon-color;
    }

    .comment-extend-text-color {
        color: $text-color;
    }
}

.theme-dark {
    $text-color: #ffffff;
    $icon-color: #D4D4D4;

    .msg-wrap-background {
        background-color: #000;
    }

    .comment-wrap-background {
        background-color: rgba(0, 0, 0, 0.9);
    }

    .comment-icon {
        color: $icon-color;


    }

    .comment-extend-icon {
        background-color: rgba(41, 41, 41, 0.8);
        color: $icon-color;
    }

    .comment-extend-text-color {
        color: $text-color;
    }
}